{% extends "layout.html" %}

{% block title %}

<title>Jemin</title>

{% endblock %}


{% block content %}

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    <nav class=" navbar navbar-dark ">
        <a href="https://www.facebook.com/"> <img class="logos" src="{{url_for('static',filename='img/lface.jpg')}}"
                alt="logo_facebook">
        </a>
        <div class="nav-loho">
            <div class="btn-home-uno">
                <a class="btn-home-uno btn btn-dark mb-3 text-se" href="/usuario/status" role="button">
                    Seguimiento</a>
            </div>
            <form action="/logout" method="POST" class="d-flex">
                <input type="submit" class=" btn btn-dark mb-3" value="Logout">
            </form>
        </div>
    </nav>
    <main>
        <div class="hTitulo">
            <h1>
                <p class="titulo">¡Hola {{session ['first_name']}}, te estábamos esperando!</p>
            </h1>
            <h5>Bienvenidos a <span class="b_titulo">Jemin`s</span>
            </h5>
        </div>

        <div class="cardd text-center">
            <div class="card-header" col="6">
                <select class="select-op form-select " aria-label="Default select example">
                    <option selected>Selecciona tu solicitud</option>
                    <option value="1">Divorcio</option>
                    <option value="2">Cartas de adecuación</option>
                    <option value="3">Mediación</option>
                </select>
            </div>
            <div class="card-body">
                <form class="filee" action="/usuario/status" method="post" enctype="multipart/form-data">
                    <h5 class="card-title">Selecciona un archivo en pdf</h5>
                    <input type="file" id="file" name="file" multiple><br><br>
                    <input class="archivo btn btn-secondary" type="submit">
                </form>
            </div>

            <div class="card-footer text-muted">

            </div>
        </div>

    </main>


    <footer>
        <nav class=" navbar navbar-dark ">
            <p class="footer"> © Created by Jemin,inc.</p>
        </nav>
    </footer>
</body>

{% endblock %}